<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutPadrao}">

    <head>
        <meta charset="UTF-8"/>
        <title>Lista de Agendamentos</title>    
    </head>
    <section layout:fragment="conteudo">
        <div class="panel panel-default" style="margin-left: 10px; margin-right: 10px">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title"style="float: left; padding: 2p">Lista de Clientes</h1>
                    <a class="btn btn-link" style="float: right; padding: 0px"href="/agendamento/novo">Novo Agendamento</a>
                </div>
            </div>

            <div class="panel-body">

                <form method="GET" class="form-horizontal" action="/agendamento">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input class="form-control" placeholder="Pesquise aqui" autofocus="autofocus"
                                       name="nome">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="glyphicon glyphicon-search"></i>
                                    </span>
                            </div>
                        </div>                            
                    </div>
                </form>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1">#</th>
                            <th>Nome</th>
                            <th class="text-center col-md-2">Data</th>
                            <th class="text-center col-md-2">Horario</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="agenda : ${agendamentos}">
                            <td class="text-center" th:text="${agenda.codigo}"></td>
                            <td th:text="${agenda.nome}"></td>
                            <td class="text-center" th:text="${agenda.dataAgendada}"></td>
                            <td class="text-center" th:text="${agenda.horario}|"></td>
                            <td class="text-center">
                                 <a class="btn btn-link btn-xs" th:href="@{/agendamento/{codigo}(codigo=${agenda.codigo})}"
                                    title="Editar" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmaExclusaoAgenda"
                                   th:attr="data-codigo=${agenda.codigo}, data-nome=${agenda.nome}"
                                   title="Excluir" rel="tooltip" data-placement="top">

                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" th:if="${#lists.isEmpty(agendamentos)}">Nenhuma data marcada</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:replace="DialogoExclusaoAgenda"></div>
    </section>
</html>